/* Empty. Add your own CSS if5 you like 

ai@bestapps.id
[nomor kelomok]

*/

body, html, ion-slide{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

input[type="range"] {
display: inline-block;
overflow: hidden;
margin-top: 5px;
margin-bottom: 5px;
padding-right: 2px;
padding-left: 1px;
width: auto;
/height: 35px;/
min-height: 35px;
outline: none;
/background: linear-gradient(to right, #cccccc 0%, #cccccc 100%);/
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #cccccc));
background-position: center;
background-size: 99% 4px;
background-repeat: no-repeat;
-webkit-appearance: none; 
}

.reg{
	height: 100vh;
	width: 100vw;
	display: block;
	content: "";
	padding: 0;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	background: url("../img/bg.png");
	background-size: 400vw 100vh;
}



img{
	border: none;
}

.reg .icon{
	position: absolute;
	border: none;
	top: 10vh;
	left: 35vw;
	width: 30vw;
	height: 30vw;
	background: url("../img/icon-white.png") no-repeat;
	background-size: 100%;
}

.reg .desc{
	position: absolute;
	top: 45vh;
	left: 10vw;
	width: 80vw;
	color: white;
	text-align: center;
}

.reg .form {
	position: absolute;
	top: 40vh;
	left: 10vw;
	width: 80vw;
	color: white;
	text-align: center;
}

.reg .form input {
	padding: 5px;
	text-align: center;
	margin-top: 7px;
	border-radius: 7px;
}

.reg button{
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border: white solid medium;
	position: absolute;
	left: 25vw;
	width: 50vw;
	height: 40px;
	border-radius: 10px;
}

.reg .bot{
	bottom: 10vh;
}

.reg .top{
	bottom: 18vh;
}

.first{
}

.first .icon{
	width: 50vw;
	height: 50vw;
	top: 20vh;
	left: 25vw;
}

.second{
	background-position: 33% 0;
}

.third{
	background-position: 66% 0;
}

.fourth{
	background-position: 99.5% 0;
}

.bar.bar-stable{
	background-color: rgb(237,50,55) !important;
}

.bar.bar-stable .title{
	color: #fff !important;
}

.bar-stable .button{
	color: #fff !important;
}

.tabs{
	background: rgb(237,50,55) !important;
}

.item{
	border: 0px;
	border-bottom: 1px solid  rgb(237,50,55);
	margin: 3vh 0;
}

.item > h2{
	font-weight: bold;
}

.icon-white{
	color: #fff;
}

.list .item .floatright{
	position:absolute;
	right: 2vw;
	top:0;
	bottom: 0;
	margin: auto;
	width: 10vw;
} 

#detailTilang{
	padding: 1vw 5vw;
}

.bold{
	font-weight: bolder;
}

#pasalTilang{
	position: relative;
	height: 100%;
	background: rgb(237,50,55);
	text-align: center;
	padding: 5vw;
	color: #fff;
}

#pasalTilang h2{
	color: #fff;
}

#pasalTilang button{
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border: white solid medium;
	height: 40px;
	border-radius: 10px;
	bottom: 20vh;
	margin-top: 5vh;
}

.loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.8);
}

.loader{
	background: url("../img/loader.gif");
	background-size: 100% 100%;
	width: 20vw;
	height: 20vw;
	margin-left: 40vw;
	margin-top: 35vh;
}