<ion-view title="aktivasi" ng-controller="slideCtrl">
  <ion-content class="" >
  <div class="reg third">
        <div class="icon"></div>
        <div class="form">
          <p>
            Masukkan data anda untuk masuk ke K-Tilang
          </p>
          <input type="text" placeholder="Username"></input>
          <input type="text" placeholder="Password"></input>
          <input type="text" placeholder="Nomor HP"></input>
        </div>
        <button  class="bot" ng-click="submit()">Submit</button>
        <div id="loading_regist" class="loading">
          <div id="loader_regist" class="loader"></div>
        </div>
      </div>
  </ion-content>
</ion-view>