<ion-view title="TILANG">
  <ion-content class="padding">
  	<form id="tilang">
  		<label>No Tilang</label>
  		<input class="input" type="text" placeholder="nomor tilang"/>
  		<label>No STNK</label>
	    <input class="input" type="text" placeholder="nomor STNK"/>
	    <label>Waktu Tilang</label>
	    <input class="input" type="text" placeholder="waktu tilang"/>
	    <label>Tempat Tilang</label>
	    <input class="input" type="text" placeholder="tempat tilang"/>
	    <label>Wilayah Tilang</label>
	    <input class="input" type="text" placeholder="wilayah tilang"/>
	    <label class="item item-input item-select">
		    <div class="input-label">
		      Pasal Pelanggaran
		    </div>
		    <select>
		      <option>Blue</option>
		      <option selected>Green</option>
		      <option>Red</option>
		      <option>Blue</option>
		      <option selected>Green</option>
		      <option>Red</option>
		      <option>Blue</option>
		      <option selected>Green</option>
		      <option>Red</option>
		    </select>
		  </label>
	    <button>
	    	TILANG
	    </button>
  	</form>
  </ion-content>
</ion-view>


<!--
no tilang
no stnk
waktu tilang
wilayah tilang
tempat tilang
pasal pelanggaran
-->