<ion-view title="AKUN">
  <ion-content class="padding">
  	<div id="akun">
  		<h2>Username: Nama Orang ini</h2>
	    <button id="gantiPass" ng-click="gpass()"><h5>Ganti Password</h5></button>
	    <input id="inputPass" type="text" placeholder="password baru"/>
	    <button id="submitPass" ng-click="spass()">Submit</button>
	    <h2>Nomor HP</h2>
	    <button id="gantiHP" ng-click="ghp()"><h5>Ganti Nomor HP</h5></button>
	    <input id="inputHP" type="text" placeholder="Nomor HP Baru"/>
	    <button id="submitHP" ng-click="shp()">Submit</button>
  	</div>
  </ion-content>
</ion-view>
